.attendance__alert--success {
    padding: 10px 30px;
    border-color: #badbcc;
    background-color: #d1e7dd;
    color: #0f5132;
}

.attendance__alert--danger {
    padding: 10px 30px;
    border-color: #f5c2c7;
    background-color: #f8d7da;
    color: #842029;
}

.attendance__alert--danger ul {
    margin: 0;
}

.attendance__user {
    padding-top: 25px;
    text-align: center;
}

.attendance__panel {
    margin: 0 auto;
    width: 70%;
}

.attendance__panel-work,
.attendance__panel-rest {
    display: flex;
    margin-bottom: 30px;
}

.attendance__button {
    width: 100%;
    text-align: center;
}

.attendance__button-submit {
    width: 90%;
    height: 100px;
    border: none;
    border-radius: 3px;
    background: #fff;
    color: #000;
    cursor: pointer;
}

.attendance__button-disabled {
    width: 90%;
    height: 100px;
    border: none;
    border-radius: 3px;
    background: #fff;
    color: #EEEEEE;
}

.attendance__content {
    margin: 0 auto;
    padding-top: 30px;
}
